html {
	box-sizing: border-box;
	overflow: hidden;
}

*: {
	box-sizing: inherit;
}

body {
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

header {
	justify-content: space-between;
}

#beer {
	text-align: center;
	font-size: 100px;
	width: 100%;
	height: 110px;
	margin-left: -10px;
	position: absolute;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	margin-top: -10%;
}

#logo {
	display: block;
	margin: auto;
	background-image: url("images/logo_spacex.png");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 100px;
}

#map {
	position: relative;
}

#googlemap {
	grid-area: map;
	margin: 0 auto;
	width: 80vw;
	height: 80vh;
	color: #000;
	box-shadow: 10px 10px 50px 10px black;
}


@media only screen and (min-width: 0px) { /* mobiel */


}

@media only screen and (min-width: 601px) { /* tablet */


}

@media only screen and (min-width: 1020px) { /* laptop */


}

@media only screen and (min-width: 1620px) { /* groot scherm */


}
